<%- include('../template/head')-%>

<body>
    <div class="d-flex justify-content-center section1" style="height: 95vh; width: 100vw;">
        <div class="align-self-center" style="width: 500px;">
            <p>
                Another year goes by and you refine yourself even more. I want you to think about all the the life
                you've lived in just one year. All the adventures you've had. You have many years ahead and i hope each
                one is filled with more - and that i stay a familiar face on those ventures.
            </p>
            <p>
                Thank you for being you and always making my day better. You deserve to have an amazing 22nd year.
            </p>
            <p>
                Happy birthday!
            </p>
        </div>
    </div>

    <!-- Ufcl G
        rcjj wms
        G
        jmtc

        wm s G
        bmlr qyw
        gr msr
        md fyzgr


        G qyw gr rm pckglb wms rfyr wmspc rfc zcqr
        
        rfgle rfyr ctcp
        fynnclcb rm kc -->
    <div class="section2">
        <div class="d-flex justify-content-center">
            <div class="align-self-center">
                click to play music
            </div>
        </div>

        <div class="d-flex flex-column">
            <div class="align-self-center mt-5">
                <p>
                    🎵 monsune - outta my mind 🎵
                </p>
            </div>
            <div class="lyric-par align-self-center">
                <p class="ms1">. . . 🎵</p>
            </div>
            <div class="lyric-par align-self-center">
                <p class="l1b1"><span class="sc">Uf </span>I've been waiting for the right time<span class="sc"> cl</span></p>
                <p class="l1b2">To let you know <span class="sc"> G </span> that I've been looking for you all of my life<span class="sc"> rc</span></p>
                <p class="l1b3"><span class="sc"> jj </span>Feels like walking on a <span class="sc"> wm </span> landslide <span class="sc"> sG</span></p>
                <p class="l1b4"><span class="sc"> jm </span> Let me take you, <span class="sc"> tc </span> take you down, eh</p>
            </div>

            <div class="lyric-par align-self-center">
                <p class="l2b1">Ooh,<span class="sc">wm </span> baby I need you here in my life<span class="sc"> sG</span></p>
                <p class="l2b2">Ooh,<span class="sc">bm </span> baby I can't let you out of my sight<span class="sc"> lr</span></p>
                <p class="l2b3">Ooh,<span class="sc">q </span> baby I don't care if you ain't my type<span class="sc"> yw</span></p>
                <p class="l2b4">Don't even<span class="sc"> gr </span> know you but <span class="sc"> msr </span> I can't get you out of my mind</p>
            </div>
            <div class="lyric-par align-self-center">
                <p class="ms2"><span class="sc"> md </span>. <span class="sc"> fy </span> . . <span class="sc"> z </span> 🎵 <span class="sc"> gr </span></p>
            </div>
            <div class="lyric-par align-self-center">
                <p class="l3b1"><span class="sc"> G </span>Girl, <span class="sc"> q </span> you know you got it easy <span class="sc"> yw </span></p>
                <p class="l3b2">You <span class="sc"> gr </span> got me tossin' <span class="sc"> r </span> and turnin', thinking of what we could be <span class="sc"> mpc </span></p>
                <p class="l3b3">I've <span class="sc"> kg </span> been searching for the <span class="sc"> lb </span>words</p>
                <p class="l3b4">But how <span class="sc"> wm </span> do I say everything <span class="sc"> s </span> I need to</p>
                <p class="l3b5">Everything <span class="sc"> rfyr </span> I need to</p>
                <p class="l3b6">I been tryna<span class="sc"> w </span>get you out of<span class="sc"> ms </span> sight and out of mind</p>
                <p class="l3b7"><span class="sc"> pc </span>You been <span class="sc"> r </span> hooked to me <span class="sc"> fc </span> for 40 days and 40 nights</p>
                <p class="l3b8"><span class="sc"> z </span>I know better than to keep checkin' if you're still online<span class="sc"> c </span></p>
                <p class="l3b9">I can't <span class="sc"> q </span>help it, I can't help it, no<span class="sc"> r </span></p>
            </div>

            <div class="lyric-par align-self-center">
                <p class="l4b1">Ooh,<span class="sc"> rf </span> baby I need you<span class="sc"> gl </span> here in my life</p>
                <p class="l4b2">Ooh,<span class="sc"> e </span> baby I can't let you<span class="sc"> rfy </span> out of my sight</p>
                <p class="l4b3">Ooh,<span class="sc"> r </span> baby I don't care if you ain't my type</p>
                <p class="l4b4">Don't even<span class="sc"> c </span> know you<span class="sc"> tc </span> but I can't get you outta<span class="sc"> p </span> my mind</p>
            </div>

            <div class="lyric-par align-self-center">
                <p class="ms3"><span class="sc"> fy </span>. . . 🎵<span class="sc"> nn </span></p>
            </div>
        
            <div class="lyric-par align-self-center">
                <p class="l5b1"><span class="sc"> cl </span>Ooh, baby I need you here in my life</p>
                <p class="l5b2">Ooh, baby I <span class="sc"> cb </span>can't let you out of my sight</p>
                <p class="l5b3">Ooh, baby I don't care <span class="sc"> rm </span>if you ain't my type</p>
                <p class="l5b4">Don't <span class="sc"> kc </span>even know you, but I can't get you outta my mind</p>
            </div>

            <div class="lyric-par align-self-center">
                <p class="ms4">. . . 🎵</p>
            </div>
        </div>
    </div>

    </div>

</body>

</html>